<html>
<head>
    <title>GitSocial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body class="bg-light">
        <div class="container">
            {% for user_hash in user_hashes %}
            <div class="row">
                <a href="http://localhost:5000/profile?username={{ user_hash }}">{{ user_hash }}</a>
            {% endfor %}
            </div>
        </div>
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="/static/holder.js"></script>
      </body>
</html>